# Core dependencies for Langchain and agentic workflows
langchain
langgraph
langchain-openai
openai
langchain_core

# Tool for the Market Data agent
langchain_tavily

# Validation framework
deepeval

# For creating the web interface
gradio

# For loading environment variables from a .env file
python-dotenv

# Core data modeling library
pydantic