# Core dependencies for Langchain and agentic workflows
langchain
langgraph==0.2.67
langchain-core==0.3.65
langchain-openai
openai
# Tool for the Market Data agent
langchain-tavily
# Validation framework
deepeval
google-genai
posthog
# For creating the web and CLI interfaces
gradio==4.44.1
click
 # For loading environment variables from a .env file
python-dotenv
# Core data modeling library
pydantic